Repository DLR-FT/wasm-interpreter, pull requests merged in 2024-08, with the labels that each got.

#57 Feature + Tests: f32 operations
  Cargo.lock
  Cargo.toml
  src/core/reader/types/memarg.rs
  src/core/reader/types/opcode.rs
  src/core/reader/types/values.rs
  src/execution/interpreter_loop.rs
  src/execution/value.rs
  src/validation/code.rs
  tests/basic_memory.rs
  tests/f32.rs
Labels: core, execution, validation, tests, priority-high, priority-medium, feature

#65 feat: f64 operations
  src/core/reader/types/opcode.rs
  src/core/reader/types/values.rs
  src/execution/interpreter_loop.rs
  src/execution/value.rs
  src/validation/code.rs
  tests/f64.rs
Labels: core, execution, validation, tests, priority-high, priority-medium, feature

#70 refactor(validation): `VecDeque` -> `Vec`
  src/validation/code.rs
Labels: validation, priority-high

#73 feat: i32 relational opcodes + tests
  src/core/reader/types/opcode.rs
  src/execution/interpreter_loop.rs
  src/validation/code.rs
  tests/i32.rs
Labels: core, execution, validation, tests, priority-high, priority-medium, feature

#76 fix: post `VecDeque` -> `Vec` migration issue
  src/validation/code.rs
Labels: validation, priority-high

#77 feat: i32.sub + tests for i32.sub and i32.add
  src/core/reader/types/opcode.rs
  src/execution/interpreter_loop.rs
  src/validation/code.rs
  tests/i32.rs
Labels: core, execution, validation, tests, priority-high, priority-medium

#75 Feature + Test: i64 relational and equality op codes
  src/core/reader/types/opcode.rs
  src/execution/interpreter_loop.rs
  src/validation/code.rs
  tests/i64.rs
Labels: core, execution, validation, tests, priority-high, priority-medium
