Repository DLR-FT/wasm-interpreter, pull requests merged in 2024-07, with the labels that each got.

#18 Feature + Test: i32 rem operations
  src/execution/mod.rs
  src/validation/code.rs
  tests/arithmetic/division.rs
  tests/arithmetic/mod.rs
  tests/arithmetic/remainder.rs
Labels: execution, validation, tests, priority-high, priority-medium, feature

#17 Feature + Test: i32 bitwise operations
  src/execution/mod.rs
  src/validation/code.rs
  tests/arithmetic/bitwise.rs
  tests/arithmetic/mod.rs
Labels: execution, validation, tests, priority-high, priority-medium, feature

#33 FIX: remove duplicate call to start function
  src/execution/mod.rs
Labels: bug, execution, priority-high

#13 Refactor: refactor + tests for opcode enum
  src/core/reader/types/mod.rs
  src/core/reader/types/opcode.rs
  src/execution/mod.rs
  src/validation/code.rs
Labels: core, execution, validation, tests, priority-high, priority-medium

#34 feat: add conventional commit checker to ci
  .github/workflows/ci.yml
Labels: priority-high

#38 Add deployment for rustdoc and strictdoc on main and preview deployment for requirements (attempt #2)
  .github/workflows/pages_coverage_preview.yaml
  .github/workflows/pages_deploy_main.yaml
  .github/workflows/pages_requirement_preview.yaml
  Cargo.toml
Labels: workflows, priority-high, coverage

#36 refactor: remove Signed-off-by in favor of DCO
  .github/pull_request_template.md
Labels: priority-high

#44 chore: update pr template to keep up with ci/cd pipeline
  .github/pull_request_template.md
Labels: priority-high

#48 Fix: Update coverage action to trigger on (un)labeled events
  .github/workflows/pages_coverage_preview.yaml
Labels: workflows, priority-high

#40 Feature + Tests: i64 operations
  src/core/error.rs
  src/core/reader/types/opcode.rs
  src/core/reader/types/values.rs
  src/execution/mod.rs
  src/execution/value.rs
  src/validation/code.rs
  tests/add_one.rs
  tests/arithmetic/bitwise.rs
  tests/arithmetic/division.rs
  tests/arithmetic/mod.rs
  tests/arithmetic/multiply.rs
  tests/arithmetic/remainder.rs
  tests/arithmetic/subtraction.rs
Labels: core, execution, validation, tests, priority-high, priority-medium, feature

#53 feat: add additional error for multi-byte opcodes
  src/core/error.rs
  src/validation/code.rs
Labels: core, validation, priority-high

#51 feat: refine requirements w/r/t dependencies
  Cargo.lock
  Cargo.toml
  requirements/requirements.sdoc
Labels: documentation

#60 fix: rework github workflows to use nix
  .github/workflows/pages_coverage_preview.yaml
  .github/workflows/pages_deploy_main.yaml
Labels: workflows, priority-high
