Repository DLR-FT/wasm-interpreter, pull requests merged in 2025-05, with the labels that each got.

#170 Rename moduleinst fields
  src/execution/const_interpreter_loop.rs
  src/execution/interpreter_loop.rs
  src/execution/mod.rs
  src/execution/store.rs
Labels: core, execution, validation, tests, priority-high, priority-medium

#175 Remove unneccesary unicode validation in testsuite file traversal
  tests/specification/files.rs
Labels: tests, priority-medium

#174 make CI faster
  .github/workflows/nix.yaml
  pkgs/report/package.nix
  pkgs/requirements.nix
Labels: core, execution, validation, priority-high

#178 feat: implement unreachable instruction
  src/core/error.rs
  src/execution/interpreter_loop.rs
  tests/specification/run.rs
Labels: core, execution, tests, priority-high, priority-medium

#180 Fix memory instructions
  src/execution/interpreter_loop.rs
Labels: execution, priority-high
