Repository DLR-FT/wasm-interpreter, pull requests merged in 2025-06, with the labels that each got.

#182 Fix multibyte instructions
  src/core/error.rs
  src/core/reader/types/opcode.rs
  src/core/utils.rs
  src/execution/interpreter_loop.rs
  src/validation/code.rs
Labels: core, execution, validation, priority-high

#187 fix: table import subtyping rule
  src/core/reader/types/mod.rs
Labels: core, priority-high

#188 feat: various wasm spec test directives
  tests/specification/run.rs
Labels: tests, priority-medium

#197 fix: remove non const instrs from validation and const evaluation
  src/execution/const_interpreter_loop.rs
  src/validation/read_constant_expression.rs
  tests/globals.rs
Labels: execution, validation, tests, priority-high, priority-medium
